<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdx2SOMCgF3WOjdE5isuQeu7c9-OKArMs</string>
	<key>GCM_SENDER_ID</key>
	<string>412930798860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allway.talklat</string>
	<key>PROJECT_ID</key>
	<string>bisdam-47dc9</string>
	<key>STORAGE_BUCKET</key>
	<string>bisdam-47dc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412930798860:ios:adbaf0c20366f785550529</string>
</dict>
</plist>